


.bar{
    height: 20px;
    width: 300px;
    background-color: #f5f5f5;
}
.bar::before{
    display: block;
    counter-reset: progress var(--precent);
    content: counter(progress) '%';
    width: calc(1% * var(--precent));
    color: #fff;
    background-color: #2486ff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
