<div class="container">
    <footer class="align-items-center py-3 my-4 border-top ">
        <!-- d-flex flex-wrap justify-content-between -->
        <div class="row">

            <!-- 贡献者名单 -->
            <div class="col-md-4 d-flex align-items-center">

                <span class="mb-3 mb-md-0 text-muted">Contributors&nbsp;</span>
                <a href="https://github.com/Annihilatexv" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <div style="height: 30px; width: 30px; overflow: hidden; position: relative; border-radius: 50%; border: 1px solid white;">
                        <img src="https://avatars.githubusercontent.com/u/88979222?v=4" alt="Annihilatexv" style="height: 100%; width: 100%; object-fit: cover;">
                    </div>
                </a>

                <a href="https://github.com/Matt-wzy" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">

                    <div style="height: 30px; width: 30px; overflow: hidden; position: relative; border-radius: 50%; border: 1px solid white;">
                        <img src="https://avatars.githubusercontent.com/u/53413699?v=4" alt="Matt-wzy" style="height: 100%; width: 100%; object-fit: cover;">
                    </div>
                </a>

            </div>



            <!-- 友链 -->
            <div class="col-md-4 text-center ">
                <h6>友情链接</h6>
                <p>
                    <a href="https://qlu.nixiak.xyz/" class=" text-white"><i class="bi bi-link-45deg " style="color: rgb(30, 105, 255);"></i><span class="cursor-pointer hover:text-blue-500">Nixiak</span></a>
                </p>
            </div>


            <!-- 警告信息 -->
            <div class="col-md-4">
                <div style="text-align:right;">
                    <p class=" text-light"><i class="bi bi-exclamation-triangle-fill" style="font-size: 1.3rem; color: rgb(255,94,89);">&nbsp;</i>此站点只作为展示，不保证长期可用
                        <br /> <b><span class="text-warning">请勿</span></b>部署或添加至
                        <b>任何商业项目</b>中！
                        <br />如果你部署了本项目，愿意给其他人<b>免费</b>使用
                        <br />欢迎在仓库内留言添加友链！
                    </p>
                </div>
            </div>





        </div>
    </footer>
</div>







</div>